<% @recipes.each do |recipe| %>

  <h3><%= recipe.title %></h3>
  
  <p>
    <% @select_relations = @relations.select{|rel| rel[:recipe_id] == recipe[:id]} %>

    <% @select_relations.each do |relation| %>
        <% @ing = @ingredients.select{|ing| ing[:id] == relation[:ingredient_id]} %>
    
      <ul>
        <li><%= relation[:amount] %>
        <%= relation[:unit] %>
        <%= @ing[0][:name] %></li>
      </ul>

    <% end %>
  
    <br>
    <p><%= recipe.instructions %></p>
  
  </p>
  
  <br>
  <hr>

<% end %>